.btn-editorials {
    width: 3.4375rem; //55px
    height: 3.4375rem; //55px

    @media only screen and (max-width: 75rem) { //1600px
        width: 2.8125rem; // 45px
        height: 2.8125rem;
    }

    &:hover {
        
    }

    .box-btn-editorials {
        display: grid;
        grid-template-columns: repeat(2, 20px);
        grid-template-rows: repeat(2, 20px);
        grid-gap: 5px;
        transition: all .3s;
        border-top: transparent 1px solid;
        border-right: transparent 1px solid;
        height: 3.4375rem;
        width: 3.4375rem;

        @media only screen and (max-width: 75rem) { //1600px
            width: 1.25rem; // 20px
            height: 1.25rem;
        }

        .anime-text {
            color: #000;
            font-size: 18px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateZ(-45deg);
            z-index: 1000;
            visibility: visible;
            opacity: 0;
            margin-top: -15px;

            @media only screen and (max-width: 75rem) { //1600px
                font-size: 1rem;
                margin-top: 20px;
            }
            
        }

        &:hover {
            cursor: pointer;
            grid-gap: 0;
            animation: rotation-45 .5s forwards .3s;

            .anime-text {
                animation: anime-text .3s forwards .7s;

                @media only screen and (max-width: 75rem) { //1200px
                    animation: anime-text-medium-screen .3s forwards .7s;
                }
            }

            .three {
                animation: after-rotation .3s forwards;
            }
        }

        .one, .two, .three, .four {
            background-color: #000;
        }

        .one {
            grid-column: 1/2;
            grid-row: 1/2;
            border-top: transparent 1px solid;
        }
        .two {
            grid-column: 2/3;
            grid-row: 1/2;
            border-top: transparent 1px solid;
            border-right: transparent 1px solid;
        }
        .three {
            grid-column: 1/2;
            grid-row: 2/3;
            border-right: transparent 1px solid;
        }
        .four {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

@keyframes rotation-45 {
    0%{
        transform: rotateZ(0deg);
    }100% {
        transform: rotateZ(45deg);
        margin-left: 25px;
    }
}

@keyframes anime-text {
    0%{
        visibility: visible;
        opacity: 0;
        padding-right: 300px;

    } 100% {
        visibility: visible;
        opacity: 1;
        padding-right: 140px;
    }
}


    @keyframes anime-text-medium-screen {
        0%{
            visibility: visible;
            opacity: 0;
            padding-right: 300px;
    
        } 100% {
            visibility: visible;
            opacity: 1;
            padding-right: 80px;
        }
    }


@keyframes border-top {
    0%{
        border-top: transparent 1px solid;
    } 100% {
        border-top: #000 1px solid;
    }
}

@keyframes border-right {
    0%{
        border-right: transparent 1px solid;
    } 100% {
        border-right: #000 1px solid;
    }
}

@keyframes after-rotation {
    0%{
        background-color: transparent;
    }100% {
        background-color: transparent;
    }
}

.btn-load-more, .btn-send {
    position: relative;
    width: 240px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 100rem) { //1600px
        width: 200px;
        height: 65px;
      }

    @media only screen and (max-width: 75rem) { //1200px
    width: 180px;
    height: 55px;
    }
}

.btn-load-more {
    
    background-color: #000;

    

    .btn-text {
        color: #FFF;
    }

    &:hover {
        cursor: pointer;
    }
}

.btn-send {

    .noiseBackgroundLight {
        z-index: 100;
    }

    .btn-text {
        color: #000;
        z-index: 1000;
    }

    &:hover {
        cursor: pointer;
    }
}

// <feColorMatrix 
//           type="matrix" 
//           values="0.7 0 0 0 0 
//                   0 0.9 0 0 0 
//                   0 0 0.5 0 0 
//                   0 0 0 0.2 0" />