@import '../base/variables';

body {
  font-family: $font-primary;
}

p.body-text, span.lang-text {
  font-size: 1.625rem; // 26px
  font-family: $font-paragraphs;
  color: $text-color-first;
  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.4375rem; // 23px;
  }

  @media only screen and (max-width: 75rem) { //1200px
    font-size: 1.3125rem; //21px;
  }

  @media only screen and (max-width: 52.5rem) { //840px
    text-align: center;
  } 

  @media only screen and (max-width: 31.25rem) { //500px
    text-align: left;
  } 
}

p.form-label {
  color: $text-color-second;
}

span.name {
  color: $text-color-first;
}

.editorial-label {
  color: $text-color-first;
  text-transform: uppercase;
  font-weight: 400;
}

p.form-label, span.name, .editorial-label {
  font-size: 1.25rem; //20px

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.125rem; //18px;
  }
}

h2.titles, h2.nav-titles {
  font-size: 2.625rem; //42px
  font-weight: 500;
  color: $text-color-first;

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 2.375rem; //38px;
  }

  @media only screen and (max-width: 75rem) { //1200px
    font-size: 2.125rem; //34px;
  }

  @media only screen and (max-width: 52.5rem) { //840px
    text-align: center;
  } 

  @media only screen and (max-width: 31.25rem) { //500px
    text-align: left;
  } 
}

h2.nav-titles {
  @media only screen and (max-width: 52.5rem) { //840px
    text-align: left;
  } 
}

span.btn-text {
  font-size: 1.5rem;

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.25rem; // 20px;
  }
}

.footer-subtitle, .info-value {
  font-size: 1.75rem; // 28px
  font-weight: 400;
  color: $text-color-first;

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.625rem; // 26px;
  }
}


h1.head-title {
  font-size: 1.75rem;
  font-family: $font-title !important;
  font-weight: 800;

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.625rem; // 26px;
  }

  @media only screen and (max-width: 52.5rem) { //840px
    font-size: 1.4375rem; // 23px;
  } 

  @media only screen and (max-width: 31.25rem) { //500px
    font-size: 1.25rem; // 20px;
  } 

}

h4.overlay-title {
  font-size: 1.75rem; // 28px
  text-align: center;
  font-weight: 300;

  @media only screen and (max-width: 100rem) { //1600px
    font-size: 1.625rem; // 26px;
  }
}