@import '../base/variables';



.home-container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-left: 2px $border-color-first solid;
    border-right: 2px $border-color-first solid;

    @media only screen and (max-width: 52.5rem) { //840px
      border-left: none;
      border-right: none;
    } 

    @media only screen and (max-width: 31.25rem) { //500px
      height: auto;
    } 


    .hero-container {
      position: relative;
      min-height: calc(100vh - var(--header-margin) - var(--header-height));
      border-bottom: 2px $border-color-first solid;
      display: flex;

      @media only screen and (max-width: 52.5rem) { //840px
        flex-direction: column;
        height: calc(100vh - var(--header-margin) - var(--header-height));
      } 

      @media only screen and (max-width: 31.25rem) { //500px
        border-bottom: none;
      } 

      @media only screen and (max-width: 31.25rem) { //500px
        min-height: auto;
        height: fit-content;
        padding-top: calc(var(--header-height) + $margin-small);
      } 
      

      .container-left {
        position: relative;
        border-right: 1px $border-color-first solid;
        height: calc(100vh - var(--header-margin) - var(--header-height));
        width: 760px;

        @media only screen and (max-width: 100rem) { //1600px
          max-width: 38.125rem; //610px;
        }

        @media only screen and (max-width: 75rem) { //1200px
          max-width: 28.75rem; //460px;
        }

        @media only screen and (max-width: 52.5rem) { //840px
          max-width: 100%;
          width: 100%;
          height: 50%;
          flex-direction: column;
          border-right: none;
        } 

        .navigation {
          position: relative;
          width: 100%;
          top: 50%;
          
          
          @media only screen and (max-width: 52.5rem) { //840px
            transform: translateY(-50%);
          } 
    
          .nav-box {
            width: 100%;
            height: 5.625rem; /* 90px u rem */
            grid-column: 1/9;
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 100rem) { // 1600px
              height: 4.375rem; // 70px;
            }

            @media only screen and (max-width: 75rem) { //1200px
              height: 3.75rem; //60px;
            }

            a {
              display: flex;
              align-items: end;
              text-transform: uppercase;
              @include grid-layout(8);

              @media only screen and (max-width: 52.5rem) { //840px
                @include grid-layout(12);
                width: 100%;
              } 
            }

            a:hover {
              cursor: pointer;
            }
    
            &.nav-box-1 {
              h2 {
                grid-column: 2/-1;
              }
              @media only screen and (max-width: 100rem) { //1600px
                grid-column: 2/-1;
              }
            }
    
            &.nav-box-2 {
              h2{
                grid-column: 3/-1;
                margin-left: -40px;
                @media only screen and (max-width: 100rem) { //1600px
                  grid-column: 3/-1;
                  margin-left: 0;
                }
              }

              

              border-top: 1px solid $border-color-first;
              border-bottom: 1px solid $border-color-first;
            }
    
            &.nav-box-3 {
              h2 {
                grid-column: 3/-1;
                @media only screen and (max-width: 100rem) { //1600px
                  grid-column: 4/-1;
                }
              }
              border-bottom: 1px solid $border-color-first;
            }
          }
        }
        
      }
  
      .container-right {
        position: relative;
        height: calc(100vh - var(--header-margin) - var(--header-height));
        width: 100%;
        padding-right: 100px;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 100rem) { //1600px
          padding-right: 5.025rem; //80px;
        }

        @media only screen and (max-width: 75rem) { //1200px
          padding-right: 3.75rem; //60px;
        }

        @media only screen and (max-width: 52.5rem) { //840px
          padding-right: 0;
          height: 50%;
        } 

        @media only screen and (max-width: 31.25rem) { //500px
          height: fit-content;
        } 

        .text-box-hero {
          
          margin-left: 140px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media only screen and (max-width: 100rem) { //1600px
            margin-left: 6.875rem; //110px;
          }

          @media only screen and (max-width: 75rem) { //1600px
            margin-left: 5rem; //110px;
          }

          @media only screen and (max-width: 52.5rem) { //840px
            margin-left: 0;
            @include grid-layout(12);
          } 
  
          p {
            @media only screen and (max-width: 52.5rem) { //840px
              grid-column: 2/12;
            } 
            font-weight: 400;
          }
        }
  
      }
  
      
    }

    
  }
  
  .section-about {
      margin: 7.5rem auto;

      @media only screen and (max-width: 100rem) { //1600px
        margin: $margin-medium auto;
      }

      @media only screen and (max-width: 75rem) { //1200px
        margin: $margin-small auto;
      }

      @media only screen and (max-width: 52.5rem) { //840px
        @include grid-layout(12);
        grid-template-rows: auto;
      }

      .titles {
        text-transform: uppercase;
        @media only screen and (max-width: 52.5rem) { //840px
          grid-row: 1/2;
          grid-column: 2/12;
        }
      }
      
      .about-content-box {
        margin-top: 60px;
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 52.5rem) { //840px
          grid-row: 2/3;
          grid-column: 2/12;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media only screen and (max-width: 100rem) { //1600px
          margin: $margin-second-medium auto;
        }

        @media only screen and (max-width: 75rem) { //1200px
          margin: $margin-second-small auto;
        }

        .profil-img {
          width: 100%;
          height: 100%;

          @media only screen and (max-width: 52.5rem) { //840px
            margin-bottom: $margin-second-small;
            display: flex;
            justify-content: center;
          }

          @media only screen and (max-width: 31.25rem) { //500px
            justify-content: flex-start;
          } 

          img {
            width: 400px;
            height: 500px;

            @media only screen and (max-width: 100rem) { //1600px
              width: 320px;
              height: 400px;
            }
            
            @media only screen and (max-width: 75rem) { //1200px
              width: 300px;
              height: 375px;
            }
          }
        }
        .about-text-content {
          margin-left: 100px;

          @media only screen and (max-width: 100rem) { //1600px
            margin-left: 80px;
          }

          @media only screen and (max-width: 75rem) { //1200px
            margin-left: 60px;
          }

          @media only screen and (max-width: 52.5rem) { //840px
            margin-left: 0;
          }
          
        }
      }

      
  }

  .section-editorials {
      margin: 0 auto;
      padding-bottom: 60px;

      &.no-padding-bottom {
        padding-bottom: 0; /* Kad je Load More uklonjen */
      }

      @media only screen and (max-width: 52.5rem) { //840px
        @include grid-layout(12);
        grid-template-rows: auto;
      }

      .titles {
        text-transform: uppercase;
        @media only screen and (max-width: 52.5rem) { //840px
          grid-row: 1/2;
          grid-column: 2/12;
          justify-items: center;
        }
      }

      .editorials-content-box {
        width: 100%;
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 100rem) { //1600px
          margin-top: $margin-second-medium;
        }

        @media only screen and (max-width: 75rem) { //1200px
          margin-top: $margin-second-small;
        }

        @media only screen and (max-width: 52.5rem) { //840px
          grid-row: 2/3;
          grid-column: 2/12;
        }

        .editorials {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 40px;

          @media only screen and (max-width: 100rem) { //1600px
            row-gap: 30px;
          }

          @media only screen and (max-width: 52.5rem) { //840px
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
          }

          @media only screen and (max-width: 31.25rem) { //500px
            align-items: flex-start;
          } 

          .editorial-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 360px;
            height: 360px;

            

            &:hover {
              cursor: pointer;
              .album-overlay {
                animation: overlay-move-bottom-to-top .5s forwards;

                @media only screen and (max-width: 31.25rem) { //500px
                  animation: none;
                } 
  
                @media only screen and (max-width: 25rem) { //400px
                  animation: none;
                } 
              }
              h4{
                animation: overlay-title .2s forwards .5s;

                @media only screen and (max-width: 31.25rem) { //500px
                  animation: none;
                } 
  
                @media only screen and (max-width: 25rem) { //400px
                  animation: none;
                } 
              }
            }

              @media only screen and (max-width: 100rem) { //1600px
                width: 300px;
                height: 300px;
              }

              @media only screen and (max-width: 75rem) { //1200px
                width: 220px;
                height: 220px;
              }

              @media only screen and (max-width: 52.5rem) { //840px
                width: 360px;
                height: 360px;
              }

              @media only screen and (max-width: 31.25rem) { //500px
                width: 100%;
              } 

              @media only screen and (max-width: 25rem) { //400px
                width: 100%;
              } 

            .album-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              background-color: #000;
              opacity: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #DDD;
              z-index: 1;

              @media only screen and (max-width: 31.25rem) { //500px
                opacity: .25;
                animation: none;
                height: 100%;
              } 
  
              @media only screen and (max-width: 25rem) { //400px
                opacity: .25;
                animation: none;
                height: 100%;
              } 
            }
            
            h4 {
              position: absolute;
              color: #FFF;
              z-index: 1000;
              opacity: 0;

              @media only screen and (max-width: 31.25rem) { //500px
                opacity: 1;
              } 

              @media only screen and (max-width: 25rem) { //400px
                opacity: 1;
              } 
            }
          }
  
          .editorial-item {
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            
          }
  
          .second-img {

            @media only screen and (max-width: 31.25rem) { //500px
              width: 100%;
            } 

            img {
              width: 360px;
              height: 360px;

              @media only screen and (max-width: 100rem) { //1600px
                width: 300px;
                height: 300px;
              }

              @media only screen and (max-width: 75rem) { //1200px
                width: 220px;
                height: 220px;
              }

              @media only screen and (max-width: 52.5rem) { //840px
                width: 360px;
                height: 360px;
              }

              @media only screen and (max-width: 31.25rem) { //500px
                width: 100%;
                height: auto;
              } 

              @media only screen and (max-width: 25rem) { //400px
                width: 100%;
                height: auto;
              } 
            }
          }
        }

        

        .btn-editorials-container {
          width: 100%;
          padding: 30px 0 30px 0;

          @media only screen and (max-width: 75rem) { //1200px
            padding: 30px 0 30px 0;
          }

          @media only screen and (max-width: 52.5rem) { //840px
            padding: 30px 0 30px 0;
          }

          .btn-editorials {
            margin: 0 auto;

            
          }
        }
      }
      .btn-load-more-container {
        width: 100%;
        @media only screen and (max-width: 31.25rem) { //500px
          display: flex;
          align-items: flex-start;
        } 

        .btn-load-more {
          margin: 0 auto;
        }
      }
  }

  .section-contact {
    padding: 7.5rem 0;
    position: relative;

    @media only screen and (max-width: 100rem) { //1600px
      padding: $margin-medium 0;
    }

    @media only screen and (max-width: 75rem) { //1200px
      padding: $margin-small 0;
    }

    .section-contact-container {
      margin: 0 auto;
      

      @media only screen and (max-width: 31.25rem) { //500px
        @include grid-layout(12);
        grid-template-rows: auto;
      } 

      .body-text {
        padding: 0 100px;
        color: $text-color-second;
        @media only screen and (max-width: 100rem) { //1600px
          padding: 0 80px;
        }

        @media only screen and (max-width: 75rem) { //1200px
          padding: 0 60px;
        }

        @media only screen and (max-width: 31.25rem) { //500px
          grid-column: 2/12;
          grid-row: 1/2;
          padding: 0;
        }
      }

      .contact-form {
        width: 100%;
        padding-top: 3.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-color-second;

        @media only screen and (max-width: 100rem) { //1600px
          padding-top: $margin-second-medium;
        }

        @media only screen and (max-width: 75rem) { //1200px
          padding-top: $margin-second-small;
        }

        @media only screen and (max-width: 52.5rem) { //840px
          flex-direction: column;
          align-items: center;
          row-gap: 30px;
        }

        @media only screen and (max-width: 31.25rem) { //500px
          grid-column: 2/12;
          grid-row: 2/3;
          align-items: flex-start;
        }

        .form-group {
          @media only screen and (max-width: 52.5rem) { //840px
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          @media only screen and (max-width: 31.25rem) { //500px
            align-items: flex-start;
            width: 75%;
          }
        }

        .form-label {
          padding-bottom: 10px;
        }

        input,
        textarea {
          background-color: transparent;
          border: 1px solid $text-color-second; 
          color: #D9D9D9; 
          padding: 10px; 
          font-size: 1rem; 
          width: 100%; 
          box-sizing: border-box; 

          @media only screen and (max-width: 100rem) { //1600px
            font-size: 0.8rem;
          }
        }

        input:focus,
        textarea:focus {
          outline: none; 
          border-color: $text-color-second; 
        }

        #email {
          width: 260px;

          @media only screen and (max-width: 100rem) { //1600px
            width: 210px;
          }

          @media only screen and (max-width: 75rem) { //1200px
            width: 160px;
          }

          @media only screen and (max-width: 31.25rem) { //500px
            width: 100%;
          }
        }

        #message {
          width: 360px;

          @media only screen and (max-width: 100rem) { //1600px
            width: 290px;
          }

          @media only screen and (max-width: 75rem) { //1200px
            width: 220px;
          }

          @media only screen and (max-width: 31.25rem) { //500px
            width: 100%;
          }
        }
      }
    }
  }

  .section-photography {
    max-width: 100%;
    display: flex;

    @media only screen and (max-width: 52.5rem) { //840px
      height: 300px;
    } 

    img{
      width: 100%;
      @media only screen and (max-width: 52.5rem) { //840px
        object-fit: cover;
        object-position: left;
      } 
    }
  }
  
