.container {
    max-width: 85rem; //1360px
    margin: 0 auto;

    @media only screen and (max-width: 100rem) { //1600px
      max-width: 70rem; //1120px;
    }

    @media only screen and (max-width: 75rem) { //1200px
      max-width: 52.5rem; //840px;
    }
  }

  .container-content {
    max-width: 72.5rem; //1160px;

    @media only screen and (max-width: 100rem) { //1600px
      max-width: 60rem; //960px;
    }

    @media only screen and (max-width: 75rem) { //1200px
      max-width: 45rem; //840px; //720px
      margin: 0 auto;
    }

    @media only screen and (max-width: 52.5rem) { //840px
      max-width: 100%;
    } 
  }