.container {
    max-width: 85rem; //1360px
    margin: 0 auto;

    @media only screen and (max-width: 100rem) { //1600px
      max-width: 70rem; //1120px;
    }
  }

  .container-content {
    max-width: 72.5rem; //1160px;

    @media only screen and (max-width: 100rem) { //1600px
      max-width: 60rem; //960px;
    }
  }