@import '../base/variables';

.footer {
    width: 100%;

    .footer-container {
        height: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        border-left: 2px #000 solid;
        border-right: 2px #000 solid;

        .footer-content {
            margin: 7.5rem auto;

            @media only screen and (max-width: 100rem) { //1600px
                margin: $margin-medium auto;
              }

            .titles {
                padding-bottom: 3.75rem;

                @media only screen and (max-width: 100rem) { //1600px
                    padding-bottom: $margin-second-medium;
                  }
            }

            .content-box {
                display: flex;
                flex-direction: row;
                column-gap: 100px;
                .social-networks, .phone-mail {
                    display: flex;
                    flex-direction: column;
                    width: 18.75rem; //300px
                    row-gap: 30px;

                    .footer-subtitle {
                        padding-bottom: 3.75rem;

                        @media only screen and (max-width: 100rem) { //1600px
                            padding-bottom: $margin-second-medium;
                          }
                    }

                    
                }
            }
        }
    }

    .footer-section {
        text-align: center;
        height: 3.75rem;
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
          font-size: 0.9rem;
          color: #999;
        }
      }
}