@import '../base/variables';

.footer {
    width: 100%;

    .footer-container {
        height: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        border-left: 2px $border-color-first solid;
        border-right: 2px $border-color-first solid;

        @media only screen and (max-width: 52.5rem) { //840px
            border-left: none;
            border-right: none;
        }

        .footer-content {
            margin: 7.5rem auto;

            @media only screen and (max-width: 100rem) { //1600px
                margin: $margin-medium auto;
            }

            @media only screen and (max-width: 75rem) { //1200px
                margin: $margin-small auto;
            }

            @media only screen and (max-width: 31.25rem) { //500px
                @include grid-layout(12);
                grid-template-rows: auto;
            }

            .titles {
                padding-bottom: 3.75rem;
                text-transform: uppercase;

                @media only screen and (max-width: 100rem) { //1600px
                    padding-bottom: $margin-second-medium;
                }

                @media only screen and (max-width: 75rem) { //1200px
                    padding-bottom: $margin-second-small;
                }

                @media only screen and (max-width: 31.25rem) { //500px
                    grid-column: 2/12;
                    grid-row: 1/2;
                }
            }

            .content-box {
                display: flex;
                flex-direction: row;
                column-gap: 100px;
                text-transform: uppercase;

                @media only screen and (max-width: 52.5rem) { //840px
                    flex-direction: column;
                    row-gap: 30px;
                }

                @media only screen and (max-width: 31.25rem) { //500px
                    grid-column: 2/12;
                    grid-row: 2/3;
                }

                .social-networks, .phone-mail {
                    display: flex;
                    flex-direction: column;
                    width: 18.75rem; //300px
                    row-gap: 30px;

                    @media only screen and (max-width: 52.5rem) { //840px
                        width: 100%;
                        align-items: center;
                        row-gap: 10px;
                    }

                    @media only screen and (max-width: 31.25rem) { //500px
                        align-items: flex-start;
                    }

                    .footer-subtitle {
                        padding-bottom: 3.75rem;

                        @media only screen and (max-width: 100rem) { //1600px
                            padding-bottom: $margin-second-medium;
                        }

                        @media only screen and (max-width: 75rem) { //1200px
                            padding-bottom: $margin-second-small;
                        }

                        @media only screen and (max-width: 52.5rem) { //840px
                            padding-bottom: 0px;
                        }
                    }

                    
                }
            }
        }
    }

    .footer-section {
        text-align: center;
        height: 3.75rem;
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
          font-size: 0.9rem;
          color: #999;
        }
      }
}