@import '../base/variables';
@import '../layout/grid';

:root {
    --header-margin: 3.75rem; /* 60px u rem */
    --header-height: 5.625rem; /* 90px u rem */

    @media only screen and (max-width: 52.5rem) { //840px
      --header-margin: 0rem;
    } 
  }

.header {
    position: relative;
    margin-top: var(--header-margin);
    height: var(--header-height);
    border: 2px solid black;

    @media only screen and (max-width: 52.5rem) { //840px
      border-top: none;
      border-right: none;
      border-left: none;
    } 
    

    .header-container {
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 52.5rem) { //840px
        @include grid-layout(12);
      } 
    }
  
      h1.head-title {

        @media only screen and (max-width: 52.5rem) { //840px
          grid-column: 2/10;
        } 
      }
  
      .circle { 
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: end;
        width: 3.125rem; /* 50px prečnik */
        height: 3.125rem; /* 50px prečnik */
        background-color: black;
        border-radius: 50%;

        @media only screen and (max-width: 52.5rem) { //840px
          grid-column: 11/12;
        } 

        @media only screen and (max-width: 31.25rem) { //500px
          width: 1.5625rem !important; /* 25px prečnik */
          height: 1.5625rem !important; /* 25px prečnik */
        }
      }
    
  }
  
  @media (max-width: 62rem) {
    .header {
        height: var(--header-height); /* Koristi promjenljive u media query */
        margin-top: var(--header-margin);
  
  
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.125rem; /* 50px prečnik */
          height: 3.125rem; /* 50px prečnik */
          background-color: black;
          border-radius: 50%;
        }
      
    }
  }